#header {
    height:50px;
    background:#181288;
    color : #d8d8d8;
}
#branding h1 {
    color :#fff;
}
a:link, a:visited {
    color: #2d4363;
}
div.breadcrumbs {
    background: #2d4363;
    color:#fff;
}

.module h2, .module caption, .inline-group h2 {
    background: #608feb;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #9f7968;
    color:#ffffff;
}

.brands {
    margin-left: 15px;
}
